{% extends 'base.html' %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Number of receipts</th>
        </tr>
    </thead>
    <tbody>
        {% for item in expensecategory_list %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.receipts.all|length }}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock content %}