{% extends "base.html" %}



{% block content %}
<div>
    <h1>Sign up</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
    </form>
</div>
{% endblock %}